name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run Tests
      run: |
        python manage.py test apps -v 2
      env:
        SECRET_KEY: 'test-key-for-ci'
        DEBUG: 'True'
        ALLOWED_HOSTS: 'localhost'
        GOOGLE_CLIENT_ID: 'dummy-client-id-for-ci'
        GOOGLE_CLIENT_SECRET: 'dummy-client-secret-for-ci'
